.source {
  font-size: 13px;
}
.card-title {
  font-size: 15px;
  height: 85px;
}
.card-text {
  font-size: 12px;
  height: 120px;
}
.card-text::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 0) and (max-width: 567px) {
  .source {
    font-size: 13px;
  }
  .card-title {
    font-size: 12px;
    height: 70px;
  }
  .card-text {
    font-size: 11px;
    height: 100px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .source {
    font-size: 13px;
  }
  .card-title {
    font-size: 12px;
    height: 70px;
  }
  .card-text {
    font-size: 11px;
    height: 100px;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .source {
    font-size: 13px;
  }
  .card-title {
    font-size: 12px;
    height: 70px;
  }
  .card-text {
    font-size: 11px;
    height: 100px;
  }
}
